# These ignore rules support using the repo simultaneously
# as the $NVS_HOME directory where node versions are installed.

# User-configurable feeds file
/feeds.json

# Temporary post-execution scripts
/nvs_tmp_*

# Node download cache directories
/*/

# Supporting script code
!/lib/

# Current version link
/current
