# These ignore rules support using the repo simultaneously
# as the $NVS_HOME directory where node versions are installed.

# User settings file
/settings.json

# Temporary post-execution scripts
/nvs_tmp_*

# Node download cache directories
/*/

# Main code, tests, and docs
!/lib/
!/test/
!/doc/
!/tools/
!/setup/

# Exclude most packages under node_modules because they are dev dependencies
!/node_modules/
/node_modules/*/

# This one is actually a runtime dependency
!/node_modules/progress/

# Default version link
/default

# Nuget packages
packages/

# Other excluded files
*.suo
