<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define ProductName = "NVS" ?>
  <?define ProductDescription = "Node Version Switcher" ?>
  <?define ProductAuthor = "Microsoft Corporation" ?>

  <?define SourceDir="$(var.ProjectDir)..\" ?>

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.ProductAuthor)"
           UpgradeCode="33835604-c515-4917-a1cd-b9a399669366">

    <Package Languages="1033"
             InstallerVersion="200"
             Compressed="yes"/>

    <Property Id="ALLUSERS" Value="2"/>
    <Property Id="MSIINSTALLPERUSER" Value="1"/>
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPCOMMENTS" Value="Node Version Switcher" />
    <Property Id="ARPHELPLINK" Value="https://github.com/jasongin/nvs" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/jasongin/nvs" />

    <Condition Message="This application is only supported on Windows 7, Windows Server 2008 R2, or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

    <MajorUpgrade AllowSameVersionUpgrades="no"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>

    <Feature Id="NVS"
             Level="1"
             Title="Node Version Switcher"
             Absent="disallow">

      <ComponentRef Id="NvsDir"/>
      <ComponentRef Id="NvsReadme"/>
      <ComponentRef Id="NvsLicense"/>
      <ComponentRef Id="NvsPackageJson"/>
      <ComponentRef Id="NvsCmdScript"/>
      <ComponentRef Id="NvsPSScript"/>
      <ComponentRef Id="NvsBashScript"/>
      <ComponentRef Id="NvsBashExeScript"/>
      <ComponentRef Id="NvsDefaults"/>
      <ComponentRef Id="SevenZipTool" />
      <ComponentGroupRef Id="NvsLibFiles"/>
      <ComponentGroupRef Id="NvsDocFiles"/>
      <ComponentGroupRef Id="NvsDepsFiles"/>
      <ComponentRef Id="EnvironmentPathPerUser" />
      <ComponentRef Id="EnvironmentPathPerMachine" />

    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="nvs">
          <Directory Id="NodeModulesDir" Name="node_modules">
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Find the installation directory so it is available for RemoveFolderEx. -->
    <Property Id="NVS_CLEANUP_DIR">
      <ComponentSearch Id="FindNvsDir" Guid="9db87eeb-d18a-4b34-9ea0-560df8ec5622" Type="directory"/>
    </Property>
    <SetProperty Id="NVS_CLEANUP_DIR"
      Action="CheckIfCleanupNeeded"
      Sequence="both"
      After="AppSearch"
      Value="">UPGRADINGPRODUCTCODE</SetProperty>

    <SetProperty Id="INSTALLDIR"
      Action="SetPerUserInstallDir"
      Sequence="first"
      Before="CostInitialize"
      Value="[LocalAppDataFolder]nvs">NOT Installed AND ALLUSERS &lt;&gt; 1 AND MSIINSTALLPERUSER = 1</SetProperty>
    <SetProperty Id="INSTALLDIR"
      Action="SetPerMachineInstallDir"
      Sequence="first"
      Before="CostInitialize"
      Value="[CommonAppDataFolder]nvs">NOT Installed AND NOT (ALLUSERS &lt;&gt; 1 AND MSIINSTALLPERUSER = 1)</SetProperty>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="NvsReadme">
        <File Id="README.md" KeyPath="yes" Source="$(var.SourceDir)\README.md"/>
      </Component>
      <Component Id="NvsLicense">
        <File Id="LICENSE.txt" KeyPath="yes" Source="$(var.SourceDir)\LICENSE.txt"/>
      </Component>
      <Component Id="NvsPackageJson">
        <File Id="package.json" KeyPath="yes" Source="$(var.SourceDir)\package.json"/>
      </Component>
      <Component Id="NvsCmdScript">
        <File Id="nvs.cmd" KeyPath="yes" Source="$(var.SourceDir)\nvs.cmd"/>
      </Component>
      <Component Id="NvsPSScript">
        <File Id="nvs.ps1" KeyPath="yes" Source="$(var.SourceDir)\nvs.ps1"/>
      </Component>
      <Component Id="NvsBashScript">
        <File Id="nvs.sh" KeyPath="yes" Source="$(var.SourceDir)\nvs.sh"/>
      </Component>
      <Component Id="NvsBashExeScript">
        <File Id="nvs" KeyPath="yes" Source="$(var.SourceDir)\nvs"/>
      </Component>
      <Component Id="NvsDefaults">
        <File Id="defaults.json" KeyPath="yes" Source="$(var.SourceDir)\defaults.json"/>
      </Component>

      <Directory Id="ToolsDir" Name="tools">
        <Directory Id="SevenZipDir" Name="7-Zip">
          <Component Id="SevenZipTool">
            <File Id="SevenZipTool_exe" KeyPath="yes" Source="$(var.SourceDir)\tools\7-Zip\7zr.exe"/>
            <File Id="SevenZipTool_readme" Source="$(var.SourceDir)\tools\7-Zip\readme.txt"/>
          </Component>
        </Directory>
      </Directory>

      <Component Id="NvsDir" Guid="9db87eeb-d18a-4b34-9ea0-560df8ec5622">
        <CreateFolder>
          <!-- When installing per-machine, set permissions so that only administrators
               can write to the install directory. -->
          <PermissionEx Sddl="D:PAI(A;OICI;FA;;;BA)(A;OICI;FRFX;;;BU)">
            <Condition>NOT (ALLUSERS &lt;&gt; 1 AND MSIINSTALLPERUSER = 1)</Condition>
          </PermissionEx>
        </CreateFolder>

        <!-- Cleanup all files from the install directory. -->
        <util:RemoveFolderEx On="uninstall" Property="NVS_CLEANUP_DIR" />
      </Component>

      <Component Id="EnvironmentPathPerUser" Guid="3809d1c9-37e2-4ea8-9558-7e71b7e12ad9">
        <Condition>ALLUSERS &lt;&gt; 1 AND MSIINSTALLPERUSER = 1</Condition>
        <CreateFolder />
        <Environment Id="EnvironmentPathPerUser"
                     Action="set"
                     Name="PATH"
                     Part="last"
                     System="no"
                     Value="[INSTALLDIR]"/>
      </Component>
      <Component Id="EnvironmentPathPerMachine" Guid="8a9874ca-144b-465a-98da-50a295beffd1">
        <CreateFolder />
        <Condition>NOT (ALLUSERS &lt;&gt; 1 AND MSIINSTALLPERUSER = 1)</Condition>
        <Environment Id="EnvironmentPathPerMachine"
                     Action="set"
                     Name="PATH"
                     Part="last"
                     System="yes"
                     Value="[INSTALLDIR]"/>
      </Component>
    </DirectoryRef>

    <SetProperty Id="InitializeNvs"
      Sequence="execute"
      Before="InitializeNvs"
      Value='"[SystemFolder]cmd.exe" /c "[INSTALLDIR]nvs.cmd" remote' />
    <CustomAction Id="InitializeNvs"
        Execute="deferred"
        Return="asyncWait"
        BinaryKey="WixCA"
        DllEntry="CAQuietExec"
        Impersonate="no"
    />
    <SetProperty Id="UnlinkNvs"
      Sequence="execute"
      Before="UnlinkNvs"
      Value='"[SystemFolder]cmd.exe" /c "[INSTALLDIR]nvs.cmd" unlink' />
    <CustomAction Id="UnlinkNvs"
        Execute="deferred"
        Return="ignore"
        BinaryKey="WixCA"
        DllEntry="CAQuietExec"
        Impersonate="no"
    />

    <InstallExecuteSequence>
      <Custom Action="InitializeNvs" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="UnlinkNvs" Before="RemoveFiles">REMOVE = "ALL" AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>

    <WixVariable Id="WixUISupportPerUser" Value="1" Overridable="yes" />
    <WixVariable Id="WixUISupportPerMachine" Value="1" Overridable="yes" />

    <UI Id="NvsInstallUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8"/>
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12"/>
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes"/>

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal"/>
      <Property Id="WixUI_Mode" Value="FeatureTree"/>
      <Property Id="WixAppFolder" Value="WixPerUserFolder"/>

      <DialogRef Id="AdvancedWelcomeEulaDlg"/>
      <DialogRef Id="InstallScopeDlg"/>
      <DialogRef Id="InstallDirDlg"/>
      <DialogRef Id="BrowseDlg"/>
      <DialogRef Id="InvalidDirDlg"/>
      <DialogRef Id="VerifyReadyDlg"/>

      <DialogRef Id="ErrorDlg"/>
      <DialogRef Id="FatalError"/>
      <DialogRef Id="FilesInUse"/>
      <DialogRef Id="MsiRMFilesInUse"/>
      <DialogRef Id="PrepareDlg"/>
      <DialogRef Id="ProgressDlg"/>
      <DialogRef Id="ResumeDlg"/>
      <DialogRef Id="UserExit"/>

      <Publish Dialog="AdvancedWelcomeEulaDlg" Control="Advanced" Event="NewDialog" Value="InstallScopeDlg">NOT Installed</Publish>

      <Publish Dialog="InstallScopeDlg" Control="Back" Event="NewDialog" Value="AdvancedWelcomeEulaDlg">1</Publish>
      <Publish Dialog="InstallScopeDlg" Control="Next" Property="MSIINSTALLPERUSER" Value="1" Order="1">WixAppFolder = "WixPerUserFolder"</Publish>
      <Publish Dialog="InstallScopeDlg" Control="Next" Property="MSIINSTALLPERUSER" Value="0" Order="2">WixAppFolder = "WixPerMachineFolder"</Publish>
      <Publish Dialog="InstallScopeDlg" Control="Next" Property="INSTALLDIR" Value="[LocalAppDataFolder]nvs" Order="3">WixAppFolder = "WixPerUserFolder"</Publish>
      <Publish Dialog="InstallScopeDlg" Control="Next" Property="INSTALLDIR" Value="[CommonAppDataFolder]nvs" Order="4">WixAppFolder = "WixPerMachineFolder"</Publish>
      <Publish Dialog="InstallScopeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="11">WixAppFolder = "WixPerUserFolder"</Publish>
      <Publish Dialog="InstallScopeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="12">WixAppFolder = "WixPerMachineFolder"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="InstallScopeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="20">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="10">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="20">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallScopeDlg">WixAppFolder = "WixPerUserFolder"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">WixAppFolder = "WixPerMachineFolder"</Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="NVS has been successfully installed."/>
    </UI>

    <UIRef Id="WixUI_Common"/>
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf"/>

  </Product>

</Wix>
